<footer>
    <div class="footer-content">
        <div class="grid-item">
            <h4>Tix</h4>
            <p>FAQ</p>
            <p>Brand</p> Guidelines
        </div>
        <div class="grid-item">
            <h4> DNAT</h4>
            <p>Thỏa thuận sử dụng</p>
            <p>Chính sách bảo mật</p>
        </div>
        <div class="grid-item">3`</div>
        <div class="grid-item">4</div>
        <div class="grid-item">4</div>
        <div class="grid-item">4</div>
        <div class="grid-item">4</div>
    </div>
</footer>