<div class="container">
    <div class="row">
        <div class="col-sm-12 mx-2" [ngStyle]="{'max-width': '100%','flex': '0 0 unset'}">
            <table class="user-table  table table-striped">
                <thead style="text-align: center;">
                    <tr>
                        <th>Seq</th>
                        <th style="width: 20%">Hình ảnh</th>
                        <th style="width: 30%" style="text-align: left;">Tên phim</th>
                        <th style="width: 20%">Mã phim</th>
                        <th style="width: 20%">Ngày khởi chiếu</th>
                    </tr>
                </thead>
                <tbody *ngIf="movieList">
                    <tr *ngFor="let mv of movieList | paginate: { itemsPerPage: 5, currentPage: p };let i = index" style="text-align: center;">
                        <td>{{i+1}}</td>
                        <td scope="row"><img [src]="mv.hinhAnh" [alt]=" " [ngStyle]="{'padding-top': '2px','max-width': '100%','width': '80px', 'height':'80px','border-radius':'50%'}"></td>
                        <td style="text-align: left;">{{mv.tenPhim}}</td>
                        <td>{{mv.maPhim}}</td>
                        <td>{{mv.ngayKhoiChieu | date}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>